<div class="row ml-0">
  <%= form_with(model: photo, local: true) do |form| %>
    <div class="field">
      <%= image_tag photo.image, {size: "1150x350"}   %>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <div class="card">
          <h6 class="card-header font-weight-bold">Etiqueta</h6>
          <div id="label"  class="form-group">
            <% names = {"Alteración retina externa"=> "Alteración retina externa", "Normal" => "Normal","Indefinido" =>  "Indefinido",
                        "Otro"=> "Otro"} %>
            <fieldset>
              <%list= names %>
              <%list.each do |name|  %>
                <fieldset  class="col-sm  col-form-label-lg">
                  <%= form.radio_button :label, name[0] %>
                  <label for="<%= name[0] %>"><%=name[1] %> </label>
                  <%if name[0] == "Otro" %>
                    <%= form.label :":" %>
                    <%= form.text_field :description %>
                  <%end %>
                </fieldset>
              <%end %>
            </fieldset>

          </div>
        </div>
      </div>
      <div class="col-sm-3" >
        <br> <br><br><br>
        <%= form.submit "       Clasificar       ", class: ["btn", "btn btn-primary btn-lg"] %>
        <br><br><br>
        <%= link_to "Dejar de clasificar", root_path, class: ["btn", "btn btn-secondary btn-sm"] %>

      </div>
    </div>
  <% end %>
</div>